body {
    background-color: darkslategray;
    text-align: center;
}

button {
    size: 40px;
    padding: 1em;
    width: 100px;
    margin: 4px;
    background-color: green;
    color: white;
}

.resetBtn {
    background-color: crimson;
}

.rez {
    font-size: larger;
    color: white;
}